:host {
    display: grid;
    width: 75%;
}

#legend-container {

    display: flex;
    justify-content: space-between;

    .legend-item {

        display: grid;

        .legend-color-indicator {
            min-width: 40px;
            max-height: 10px;
        }
    }
}
